/*html style*/
html {
    scroll-behavior: smooth;
}

/* body style */
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 196, 0);
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.6;
}

::selection {
    background-color: #333;
    color: rgb(255, 166, 0);
    padding: 10px;
}

/**********************************************/
::-webkit-scrollbar {
    background-color: #333;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 196, 0);
    transition: 0.4s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(238, 255, 0);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(255, 166, 0);
}

/**********************************************/
/* header style  */
header {
    background-color: rgb(255, 196, 0);
    height: fit-content;
}

hr {
    height: 3px;
    background-color: #333;
    border: 2px solid #eee;
    border-radius: 8px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    margin-top: 0;
    padding: 10px;
    font-size: 50px;
}

h1 a {
    color: #333;
}

a {
    text-decoration: none;
    color: #fff;
}

/* nav style  */
li a:hover {
    background-color: #333;
    color: #fff;
}

nav {
    float: right;
    margin: 5px;
}

nav .nav-log2 img {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    transition: 0.4s;
    margin-top: -5px;
    border-left: 2px solid #333;
    border-radius: 0;
    padding: 2px;
}

nav .nav-log2 img:hover {
    background-color: #fff;
}

.sign a:hover {
    background-color: inherit;
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
    margin: 2px;
}

li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    padding: 8px;
    transition: 0.4s;
    border-radius: 8px;
}


.home {
    background-color: #333;
    color: #fff;
}


/* section style  */
section {
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    margin-top: 50px;
    text-transform: capitalize;
    margin-left: 8.5%;
    margin-right: 8.5%;
}

h2 {
    color: #333;
}

.div-prod {
    display: inline;
}

.div-prod-pro {
    background-color: #eee;
    padding: 8px;
    border-radius: 8px;
    margin: 10px;
    transition: 0.4s;
    background-color: rgb(243, 243, 243);
    display: inline-block;
}

/***
100%
4 * 10px = 80px 
100% - 80px / 3
***/
.div-prod-pro figcaption {
    text-align: center;
    font-weight: bold;
    color: #333;
}

.div-prod-pro img {
    width: 150px;
    height: 160px;
}

.div-prod-pro:hover {
    transform: scale(1.1);
}

sub {
    float: right;
    color: #000;
    text-decoration: underline;
    margin-top: 1px;
    font-size: 15px;
}

/* about us style  */
.about {
    padding: 10px;
    text-transform: capitalize;
}

.about p {
    text-align: center;
    color: #333;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.about a {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    background-color: #eee;
    transition: 0.4s;
    padding: 8px;
    border-radius: 8px;
    display: block;
}

.about a:hover {
    background-color: #333;
    color: #fff;
}

/* contact style */
.conta {
    padding: 10px;
}

.conta span {
    color: #333;
    font-size: 22px;
    margin-left: 20px;
    font-weight: bold;
    padding: 20px;
    display: inline-block;
}

.conta .pp a {
    margin: 0 auto;
    display: block;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    background-color: #eee;
    transition: 0.4s;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
}

.conta .pp a:hover {
    background-color: #333;
    color: #fff;
}

/* form section style */

form {
    margin: 0 auto;
    width: 50%;
    background: -webkit-linear-gradient(-145deg, rgb(51, 51, 51), rgb(95, 95, 95));
    background: linear-gradient(-145deg, rgb(51, 51, 51), rgb(95, 95, 95));
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

form div input {
    text-align: center;
    width: 80%;

}

.user,
.gmail,
.pass,
.passs {
    border: 3px solid rgb(255, 166, 0);
    border-radius: 8px;
    padding: 10px;
    font-size: 17px;
    margin-left: 10%;
    margin-right: 10%;
}


.passs:focus {
    border: 3px solid rgb(200, 255, 0);
    outline: none;
}

.user:focus {
    border: 3px solid rgb(200, 255, 0);
    outline: none;
}

.gmail:focus {
    border: 3px solid rgb(200, 255, 0);
    outline: none;
}

.pass:focus {
    border: 3px solid rgb(200, 255, 0);
    outline: none;
}

.reset,
.submit {
    background-color: #fff;
    font-size: 20px;
    padding: 10px;
    color: #333;
    border-radius: 8px;
    border: 5px solid rgb(255, 196, 0);
    width: 90%;
    margin-bottom: 10px;
    transition: 0.4s;
    cursor: pointer;
}

.submit:hover {
    background-color: #333;
    color: #fff;
}

.reset:hover {
    background-color: #333;
    color: #fff;
}

.submit {
    margin-top: 15px;
}

form div {
    padding: 10px;
}

form div label {
    font-weight: bold;
    margin: 10px;
    display: inline-block;
}

form input {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

/* footer style */
footer {
    color: #333;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    background-color: #fff;
}

footer figcaption {
    border: 5px solid rgb(255, 196, 0);
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
}

footer a {
    color: #fff;
}

footer .fi-img {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 20%;
}

footer figure h2 a {
    color: #333;
}

footer div img {
    border-radius: 8px;
    background-color: #fff;
    width: 35px;
    height: 35px;
    padding: 5px;
    margin: 5px;
    transition: 0.4s;
}

footer div img:hover {
    transform: scale(1.1);
}

footer p {
    direction: rtl;
}
.conta{
    margin-bottom: 50px;
    margin-top: 50px;
}